/* Miense en forme générale */

body
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

.container
{
    width: 100%;
    max-width: 1242px;

}

*
{
    box-sizing: border-box;
}


/* Mise en forme header Desktop */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo
{
    height: 50px;
}

.menu
{
    display: flex;
}

.menu li
{
    list-style-type: none;
    padding: 0 10px;
    margin-right: 20px;
    line-height: 97px;
    margin-top: 2px;

}

.menu li:hover
{
    border-top: 2px solid rgb(0,101,252);
    margin-top: 0px;
}

/* Mise en forme de la section search */

.search-form
{
    display: flex;
    align-items: center;

}

.fa-location-dot
{
    background-color: rgb(242,242,242);
    font-size: 20px;
    padding: 15px;
    border-radius: 10px 0 0 10px;
}

.search-form-text
{
    line-height: 40px;
    padding: 3px 10px 3px 10px;
    margin: 0;
    border-top: 2px solid rgb(242,242,242);
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid rgb(242,242,242);
   
}

.search-form-submit
{
    background-color: rgb(0,101,252);
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 0 10px 10px 0;
    color: white;
}

.search-form-submit:hover
{
    color: rgb(242,242,242);
}

.search-form-submit-headphone
{
    display: none;
}

/* Mise en forme des filtres */
.filter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.filter-content
{
    display: flex;
    align-items: center;
}

.fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog
{
    font-size: 20px;
    padding: 15px;
    background-color: rgb(222,235,255);
    color:rgb(0,101,252);
    border-radius: 25px;
    width: 50px;
    text-align: center;
    position: relative;
    left: 25px;
}

.filter-content-text
{
    border-top: 2px solid rgb(242,242,242);
    border-right: 2px solid rgb(242,242,242);
    border-bottom: 2px solid rgb(242,242,242);   
    border-radius: 0px 25px 25px 0px;
    line-height: 46px;
    padding-left: 35px;
    padding-right: 10px;
}

.filter-info
{
    display: flex;
    align-items: center;
}

.fa-info
{
    color: rgb(0,101,252)  ;
    border: 2px solid rgb(242,242,242);
    line-height: 10px;
    width: 34px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin-right: 15px;
}

/* Mise en forme de la partie résultats par ville */
.result
{
    display: flex;
    justify-content: space-between;
}

.result-city
{
    width: 60%;
    background-color: rgb(242,242,242);
}

.result-city-card
{
    width: 25%;
    background-color: white;
    border: 3px solid white;
    border-radius: 20px 20px;
}

.result-city-card a
{
    text-decoration: none;
}

.result-city-card-img
{
    height: 100px;
}

.result-city-card-img img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.result-city-card-body-title h3
{
    color: black;
    font-weight: 700;
    font-size: 10px;
}

.result-city-card-body-price p
{
    color: black;
    font-weight: 300;
    font-size: 10px;
}

.result-city-card-body-price span
{
    font-weight: 700;
}

.result-most-popular
{
    width: 30%
}


/* Règles CSS pour tablette */

@media all and (min-device-width:769px) and (max-device-width: 992px)
{
    
}


/* Règles CSS pour portable */

@media all and (max-device-width: 768px)
{
    
}
