/* Miense en forme générale */

body
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

.container
{
    width: 100%;
    max-width: 1242px;
}

header, .search, .result, .activity
{
    width: 95%;
    margin: 0 2.5% 0 2.5%;
}

*
{
    box-sizing: border-box;
}


/* Mise en forme header Desktop */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo
{
    height: 50px;
}

.menu ul
{
    display: flex;
}

.menu li
{
    list-style-type: none;
    padding: 0 10px;
    margin-right: 20px;
    line-height: 97px;
    margin-top: 2px;

}

.menu li:hover
{
    border-top: 2px solid rgb(0,101,252);
    margin-top: 0px;
}

/* Mise en forme de la section search */

h1
{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.search-subtitle
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.search form
{
    display: flex;
    align-items: center;

}

.fa-location-dot
{
    background-color: rgb(242,242,242);
    font-size: 20px;
    padding: 15px;
    border-radius: 10px 0 0 10px;
}

.search-form-text
{
    line-height: 40px;
    padding: 3px 10px 3px 10px;
    margin: 0;
    border-top: 2px solid rgb(242,242,242);
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid rgb(242,242,242);
    font-weight: 700;
   
}

.search-form-submit
{
    background-color: rgb(0,101,252);
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 0 10px 10px 0;
    color: white;
}

.search-form-submit:hover
{
    color: rgb(242,242,242);
}



.search-form-submit-headphone
{
    display:none;
}

.search-form-submit-headphone, .search-form-submit-headphone input
{
    height: 50px;
    width: 50px;
    border-radius: 15px;
}

.search-form-submit-headphone p
{
    margin: 0;
}

.search-form-submit-headphone
{
    position: relative;
    right: 15px;
    margin-right: -15px;
}

.search-form-submit-headphone input
{
    background-color: rgb(0,101,252);
    border: none;
}

.search-form-submit-headphone i
{
    position: relative;
    bottom: 52px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
}


/* Mise en forme des filtres */
.filter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.filter-content
{
    display: flex;
    align-items: center;
}

.fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog
{
    font-size: 20px;
    padding: 15px;
    background-color: rgb(222,235,255);
    color:rgb(0,101,252);
    border-radius: 25px;
    width: 50px;
    text-align: center;
    z-index: 1;
    margin-top: 10px;
}

.filter-content-text
{
    border-top: 2px solid rgb(242,242,242);
    border-right: 2px solid rgb(242,242,242);
    border-bottom: 2px solid rgb(242,242,242);   
    border-radius: 0px 25px 25px 0px;
    line-height: 46px;
    padding-left: 35px;
    padding-right: 10px;
    margin: 10px 25px 0 -25px;
}

.filter p
{
    font-weight: 700;
}

.filter-info
{
    display: flex;
    align-items: center;
}

.fa-info
{
    color: rgb(0,101,252)  ;
    border: 2px solid rgb(242,242,242);
    line-height: 10px;
    width: 34px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin-right: 15px;
}

/* Mise en forme de la partie résultats par ville */

.result
{
    display: flex;
    justify-content: space-between;
}

.result-city
{
    width: 65%;
    background-color: rgb(242,242,242);
    border-radius: 15px;
}

.result-city h2
{
    margin-left: 45px;
    font-size: 20px;
    margin-top: 35px;
}

.result-city-text
{
    margin-left: 45px;
    font-weight: 700;
    font-size: 17px;
}

.result-city-text a
{
    text-decoration: none;
    color: black;
}

.result-city-card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 435px;
    padding: 0 20px 20px 20px;
}

.result-city-card-content
{
    width: 28%;
    background-color: white;
    border: 3px solid white;
    border-radius: 20px 20px;
    box-shadow: 0 0 3px rgb(220,220,220);
}

.result-city-card-content:hover
{
    border-color: rgb(0,101,252);
}

.result-city-card-content a, .result-most-popular-card-content a
{
    text-decoration: none;
}

.result-city-card-content-img
{
    height: 100px;
}

.result-city-card-content-img img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 17px 17px 0 0;
}

.result-city-card-content-body
{
    margin-left: 10px;
}

.result-city-card-content-body h3, .result-most-popular-card-content-body h3
{
    color: black;
    font-weight: 700;
    font-size: 15px;    
    margin-bottom: 0;
    margin-top: 5px;
}

.result-city-card-content-body p, .result-most-popular-card-content-body p
{
    color: black;
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}

.result-city-card-content-body span, .result-most-popular-card-content-body span
{
    font-weight: 700;
}

.result-city-card-content-body-rating
{
    margin-bottom: 8px;
}

.rating3 :nth-child(4), .rating3 :nth-child(5)
{
    color: rgb(230,230,230)
}

.rating4 :nth-child(5)
{
    color: rgb(230,230,230)
}

/* Mise en forme de la partie résultats les plus populaires */

.result-most-popular
{
    width: 30%;
    background-color: rgb(242,242,242);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-most-popular-title h2, .result-most-popular-title i
{
    font-size: 20px;
    margin-top: 35px;
    line-height: 20px;
}

.result-most-popular-card
{
    width: 80%;
    margin-bottom: 40px;
}

.result-most-popular-card a
{
    text-decoration: none;
}

.result-most-popular-title
{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.result-most-popular-card-content
{
    background-color: white;
    border: 3px solid white;
    border-radius: 20px 20px;
    height: 125px;
    display: flex;
}

.result-most-popular-card-content:hover
{
    border-color: rgb(0,101,252);
}

.result-most-popular-card-content-img img
{
    object-fit: cover;
    width: 100px;
    height: 100%;
    border-radius: 17px 0 0 17px;
}

.result-most-popular-card-content-body
{
    margin-left: 10px;
    padding-right: 30px;
}

.result-most-popular-card-content-body-rating
{
    margin-top: 30px;
}

.fa-star
{
    color: rgb(0,101,252);
}

.result-most-popular-title .fa-star
{
    color: black;
}

/* Mise en forme de la section Activité */
.activity
{
    margin-top: 50px;
}

.activity-card
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 350px;
    
}

.activity-card-content
{
    width: 22%;
    background-color: white;
    border: 3px solid white;
    border-radius: 20px 20px;
    box-shadow: 0 0 3px rgb(220,220,220);

}

.height100
{
    height: 350px;
}

.height100 .activity-card-content-img
{
    height: 310px;
}

.height60
{
    height: 190px;
}

.height60 .activity-card-content-img
{
    height: 145px;
}

.height40
{
    height: 140px;
}

.height40 .activity-card-content-img
{
    height: 100px;
}

.activity-card-content:hover
{
    border-color: rgb(0,101,252);
}

.activity-card-content a
{
    text-decoration: none;
}

.activity-card-content-img img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 17px 17px 0 0;
}

.activity-card-content-body
{
    margin-left: 10px;
}

.activity-card-content-body h3
{
    color: black;
    font-weight: 700;
    font-size: 15px;    
    margin-bottom: 0;
    line-height: 40px;
    height: 40px;
    margin-top: 0;
}

/* Mise en forme du footer */

footer
{
    display:flex;
    background-color: rgb(242,242,242);
    margin-top: 50px;
}

.about, .quality, .support
{
    margin-right: 175px;
    margin-left: 50px;
}

footer ul
{
    padding-left: 0;
}

footer a
{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

footer li
{
    list-style: none;
}

footer h3
{
    font-size: 15px;
}



/* Règles CSS pour tablette */

@media all and (min-device-width:769px) and (max-device-width: 992px)
{
    
}


/* Règles CSS pour portable */

@media all and (max-device-width: 768px)
{

    header
    {
        flex-direction: column;
        height: 150px;
        width: 100%;
        margin-left: 0;
    }

    nav
    {
        width: 100%;
    }

    nav ul
    {
        justify-content: space-around;
        padding-left: 0;
    }

    .menu li
    {
        line-height: 50px;
        width: 50%;
        text-align: center;
        margin-bottom: 2px;
        margin-top: 0;
    }

    .menu li:hover
    {
        border-bottom: 2px solid rgb(0,101,252);
        margin-bottom: 0;
        border-top: 0;
    }


    .search-form-submit-headphone
    {
        display:block;
    }

    .search-form-submit
    {
        display:none;
    }

    .search-form-text
    {
        width: 275px;
    }

    .filter
    {
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
        padding-left: 2.5%;

    }

    .filter > p
    {
        width: 90%;
    }

    .filter-content-text
    {
        margin-right: 10px;
    }

    .result
    {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .result-most-popular
    {
        order: -1;
        width: 100%;
        border-radius: 0;
    }

    .result-most-popular-card, .result-most-popular-title
    {
        width: 90%;
    }

    .result-city
    {
        width: 100%;
        background-color: white;
    }

    .result-city h2, .activity h2
    {
        margin-left: 5%;
    }
    .result-city-card
    {
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
        align-items: center;
        padding: 0;
    }

    .result-city-card-content
    {
        width: 90%;
        margin-bottom: 40px;
    }

    .result-city-card-content-body p
    {
        margin-bottom: 5px;
    }

    .result-city-card-content-img
    {
        height: 115px;
    }

    
    .result-most-popular-card-content-body-rating
    {
        margin-top: 50px;
    }

    .activity
    {
        width: 100%;
        margin: 0;
    }
    .activity-card
    {
        flex-wrap: nowrap;
        height: fit-content;
        align-items: center;
    }

    .activity-card-content
    {
        width: 90%;
        margin-bottom: 40px;
    }

    .height100, .height40, .height60
    {
        height: 200px;
    }

    .height100 .activity-card-content-img, .height40 .activity-card-content-img, .height60 .activity-card-content-img
    {
        height: 150px;
    }

    footer
    {
        flex-direction: column;
        margin-top: 0;
    }
    .about, .quality, .support
    {
        margin-left: 5%;
    }
    

}
